article {
    &:target {
        border-left: 4px solid $blue;
        border-right: 4px solid $blue;
        }
    img {
        height: 200px;
        object-fit: cover;
        min-width: 100%;
    }

    header {
        border-bottom: 1px solid $gray;
        margin-bottom: 30px;
        padding-bottom: 15px;
    }

    li {
            display:inline;
        }
}
