article {
    padding: 0 0 45px 0 !important;
    &:target {
        border-left: 4px solid $blue;
        border-right: 4px solid $blue;
    }
    img {
        height: 300px;
        object-fit: cover;
        min-width: 100%;
    }

    header {
        border-bottom: 1px solid $blue;
        //margin-bottom: 15px;
        padding: 30px 30px 15px 30px;
        h4 {
            text-align: center;
        }
    }

    dl {
            display:flex;
            justify-content: space-around;
        }
    
    p {
        padding: 30px 30px 15px 30px;
    }
    .readmore {
        display:block;
        background-color: $blue;
        padding: 15px;
        text-align: center;
        color: $white;    
    }

}
