@lost flexbox flex;

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background: url(http://i.imgur.com/IiYoOnX.jpg) no-repeat center center fixed; 
  background-size: cover;
}
::-webkit-input-placeholder {
  color: #000;
  font-family: 'Roboto', sans-serif;
}

.otsing {
  margin:10px auto;
  text-align: center;
  &>input[type=text] {
    padding:10px 8px;
    background:rgba(50, 50, 50, 0.1);
    border:1px solid rgba(255,0,0,0.3);
    font-weight: bold;
  }
  &>input[type=button] {
    color:#FFF;
    padding:10px 15px;
    background:#ff0000;
    font-weight: bold;
    border:1px solid rgba(255,0,0,0.3);
    &:hover, $:focus {
        background-color:rgba(255,0,0,0.3);
        color:#FFF;
        font-weight: bold;
      border:0px;
    }
  }
}

hr {
  border: 0;
	border-top: 1px solid rgba(0,0,0,0.1);;
  width: 100%;
}

.body {
  lost-center: 980px;
  margin-top: 30px;
}
.sidebar {
	lost-column: 4/12;
	}
.content {
	lost-column: 7/12;
    margin-right: 0px !important;
	}
.box {
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: white;
  padding: 15px;
  box-shadow: 1px 1.732px 5px 0px rgba(4,5,6,0.2);
  
}

.back-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: inline-block;  
  color: #ff0000;
  font-size: 30px;
  &:hover{
    cursor: pointer;
    color: #000;
  }
}