.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #212121;
  background-color: #2196F3;
}
section {
  lost-center: 1140px;
  lost-utility: clearfix;
}
.halfrow {
  lost-row: 1/2;
}
.half {
  lost-column: 1/2;
}
.full {
  lost-column: 1/1;
}
.quarter {
  lost-column: 1/4 0;
}
.row {
  lost-flex-container: row;
}
hr {
  border: 0;
	border-top: 1px solid rgba(182,182,182,0.1);
  width: 100%;
}

.box {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 1px 1.732px 5px 0px rgba(4,5,6,0.2);
  padding: 15px;
  box-sizing: border-box;
}
 .center {
   text-align: center;
 }

.back-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: inline-block;  
  color: #00BCD4;
  font-size: 1.5em;
  &:hover{
    cursor: pointer;
    color: #1976D2;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 500;
}

small {
  font-size: 75%;
}