body {
  background: url(/images/bg.jpg) no-repeat center center fixed; 
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  color: $black;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    //text-transform: uppercase;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.75em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.25em;
}
h6 {
    font-size: 1rem;
}
em {
  font-style: italic;
}
b, strong {
    font-weight: 700;
}
small {
  font-size: 75%;
}
a {
  color: inherit;
  text-decoration: none;
}
hr {
  border: 0;
	border-top: 1px solid #B6B6B6;
  width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
.text-lowercase {
    text-transform: lowercase!important;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.text-capitalize {
    text-transform: capitalize!important;
}
.title {
  margin-bottom: 1.5rem;
  h4 {
    margin: 1.14rem 0 0 0;
  }
  p {
    margin: 0;
  }
}

.container {
  lost-center: 1140px;
  lost-utility: clearfix;
}
.row {
  lost-utility: clearfix;
  flex-flow: row wrap;
  display: flex;
}
.full {
  lost-column: 1;
}
.third {
  lost-column: 1/3;
  lost-column-cycle: 3;
  +mobile(){
    lost-column: 1;
    lost-column-cycle: 1;
  }
  +tablet(){
    lost-column: 1/2;
    lost-column-cycle: 2;
  }
}
.fourth {
  lost-column: 1/4;
  lost-column-cycle: 4;
  +mobile(){
    lost-column: 1;
    lost-column-cycle: 1;
  }
  +tablet(){
    lost-column: 1/2;
    lost-column-cycle: 2;
  }
}
.eight {
  lost-column: 1/8;
}
.box {
  margin-top: 10px;
  background-color: $whitetrans;
  box-shadow: 1px 2px 5px 0px $blacktrans;
  padding: 15px;
  word-wrap: break-word;
}

.blueBg {
  background-color: $bluetrans;
}
.whiteText {
  color: white;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.pagination {
    display:flex;
    justify-content: center;
    width: 100%;
    li {
      display: inline;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.5;
      color: $blue;
      text-decoration: none;
      border: 1px solid $gray;
      background-color: $white;
      &.active {
        color: #fff;
        cursor: default;
        background-color: $blue;
        border-color: $blue;
      }
      &.disabled {
        color: $gray;
        cursor: not-allowed;
      }
    }
}
.back-to-top {
  +mobile() {
    bottom: 0.5em;
    right: 0.5em;
  }
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: inline-block;  
  color: $bluetrans;
  font-size: 1.5em;
  &:hover{
    cursor: pointer;
    color: #212121;
  }
}
