.cookie-consent {
    bottom: 0;
    position: fixed;
    text-align: center;
    background: alpha(orange,.9);
    width: 100%;
    display: table;
    padding: 10px;
    span {
        font-weight: 800;
        color: red;
    }
    button {
        button(alpha(red,.9))
        margin: 5px;
    }
}