.fa-facebook-official
    color: #3b5998;
    &:hover
        transform: scale(1.5);

.fa-instagram
    color: #125688;
    &:hover
        transform: scale(1.5);

.fa-snapchat
    color: #fffc00;
    &:hover
        transform: scale(1.5);