nav {
    .fa-codepen {
        color: #000;
    }

    .fa-linkedin{
        color: #0077b5;
    }

    .fa-github{
        color: #333333;
    }
    .fa:hover{
            transform: scale(1.5);
            transition: transform .2s linear;
        }
}