footer {
      z-index: -100;
      align-items: center;
      justify-content: center;
      display:flex;
      text-align: center;
      margin-bottom: 10px;
      .fourth {
            text-align: left;
            ul{
                  padding: 10px 10px 0 10px;
                  margin-left: 0px;
                  line-height: 2;
                  a {
                        color: white;
                        font-weight: 600;
                  }
            }
      }

}
.footerInfo {
      padding-top: 10px;
      text-transform: uppercase;
      font-weight: 800;
      a {
            color: inherit;
      }
}