.mainhero {
    height: 730px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 40%;
    z-index: -1;
    // background-image: url(/images/susa.jpg);
    //animation: slider-lg ease-in-out 10s both infinite; 
}
.padding {
    margin: auto;
    width: 60%;
    height:100%;
}
.content {
    height: 100%;
    font-size: 3em;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
}
.pacifico {
    font-size: 1.5em;
    color: rgba(48,48,48,1);
    text-shadow: 1px 1px #FFFAF0;
    opacity: 0.6;
    font-family: 'Sacramento', cursive;
}
.pacificoh2 {
    font-family: 'Sacramento', cursive;
    font-size: 2em;
    color: black;
}
.slogan {
    font-size: 0.5em;
    color:  #cccccc;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
}
figure figcaption {
    text-align: center;
    font-size: 1.5em;
    color: black;
    margin: 1.5em;
    a:hover {
        text-decoration: underline;
        }
    .header {
        margin-bottom:5px;
        font-weight: bold;
    }
}
.kuvaboksi { 
    .first img {
        height: 250px;
    }
    .second img {
        height: 350px;
    }
}

.headerimg {
    width: 150px;
    height: 150px;
    border-radius:50%;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    +mobile() {
        background-position: center bottom;
    } 

// Border-line
.fancy {
    line-height: 0.5;
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;  
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    opacity: 0.5;
    top: 0;
    width:100%;
}
.fancy span:before {
    right: 100%;
    margin-right: 15px;
}
.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

//@keyframes slider-lg {
//0% {
    //background-image: url(/images/forest.jpg);
    //}
//50% {
    //background-image: url(/images/city.jpg); 
    //}
//100% {
    //background-image: url(/images/forest.jpg);
    //} 
//}