.mainhero {
    height: 500px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50%;
    z-index: -1;
    background-image: url(/images/forest.jpg);
    animation: slider-lg ease-in-out 10s both infinite; 
    +mobile() {
        background-position: center bottom;
    }
} 

@keyframes slider-lg {
  0% {
    background-image: url(/images/forest.jpg); 
  }
  50% {
    background-image: url(/images/city.jpg); 
  }
  100% {
    background-image: url(/images/forest.jpg);
  } 
}