.mainhero {
    height: 500px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50%;
    z-index: -1;
    background-image: url(/images/forest.jpg);
    animation: slider-lg ease-in-out 10s both infinite; 
}
.padding {
    margin: auto;
    width: 60%;
    height:100%;
}

.content {
    height: 100%;
    font-size: 3em;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
}
.pacifico {
    font-size: 0.8em;
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 1px 1px #000000, 
                2px 2px #000000, 
                3px 3px #000000;
}
.pacificoh2 {
    font-family: 'Pacifico', cursive;
    color: black;
}
.sloganheader {
    color: white;
    text-shadow: 1px 1px #000000, 
                2px 2px #000000, 
                3px 3px #000000;
    letter-spacing: -1px;
}
.slogan {
    font-size: 0.3em;
    color: white;
    text-shadow: 1px 1px #000000, 
                 2px 2px #000000;
    letter-spacing: 2px;
    font-weight: bold;
}
figure figcaption {
    text-align: center;
    font-size: 1.5em;
    color: black;
    margin: 1.5em;
    a:hover {
        text-decoration: underline;
        }
    .header {
        margin-bottom:5px;
        font-weight: bold;
    }
}
.kuvaboksi { 
    .first img {
        height: 250px;
    }
    .second img {
        height: 350px;
    }
}

.headerimg {
    width: 150px;
    height: 150px;
    border-radius:50%;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    +mobile() {
        background-position: center bottom;
    } 

// Border-line
.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width:100%;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

@keyframes slider-lg {
  0% {
    background-image: url(/images/forest.jpg);
  }
  50% {
    background-image: url(/images/city.jpg); 
  }
  100% {
    background-image: url(/images/forest.jpg);
  } 
}