.navbar {
	z-index: 1000;
	height: 60px;
	line-height: 60px;
  	text-align: center;
	display: flex;
	overflow:hidden;
	padding: 0px;
}
nav {
    &:first-child {
		lost-column: 3/12;
	}
    &:nth-child(2) {
		lost-column: 6/12;
		a:hover {
					border-bottom: 2px solid;
					border-color: #1976D2;
					transition: all linear 0.3s;
					color: #333;
				}	
	}
	&:last-child {
		lost-column: 3/12;
	}
	a {
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
    text-decoration : none;
    font-weight: 600;
    
	}
	ul {
		display: inline-flex;
		flex-wrap: wrap;
		list-style: none;
		li {
			
			position: relative;
			&:hover ul{
				display: block;
			}
			&>a {
				display: flex;
				margin: 0 10px;
				border-bottom: 2px solid;
				border-color: transparent;
				color: #000;
				line-height: 20px;
				&.active {
					border-bottom: 2px solid;
					border-color: #2196F3;
					font-weight: bold;
				}
				i {
					line-height: 10px;
				}	
			}
			ul {
				display: none;
				position: fixed;
				padding: 10px;
				background-color: white;
				z-index: 1000;
			}
		}
	}	
}