.navbar {
    $navbarkorkeus = 90px;
    line-height: $navbarkorkeus;
    height: $navbarkorkeus;
    background: alpha(black,.7.5);
    position: absolute;
    z-index: 999;
    width: 100%;

    div {
        text-align: center;
    }
    div:first-child {
        lost-column: 0.8/3;
        color: white;
    }
    div:last-child {
        lost-column: 1.5/3;
        color: white;
        a:hover {
            text-decoration: underline;
        }

        ul {
            display: inline-flex;
            li {
                margin: 0 10px;
            }
        }
    }
}