.col-lg-12 {
    width: 100%;
    margin-top: -50px;
}
.page-header {
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.col-sm-3 {
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.descript {
    lost-column: 1/2;
    line-height: 1.4;
    margin-left: 50px;
        h3 {
            font-size: 2em;
            margin-bottom: 20px;        
            }
        p {
            margin-bottom: 20px;
            font-size: 1.2em; 
            }
        li {
            font-size: 1.2em;
            margin-left: 20px;
        }
}
.row {
    margin-top: 50px;
    margin-bottom: 20px;
}
.headkuva {
    height: 500px;
    position: relative;
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* global */

.wrapper {
  padding: 150px;
  margin-bottom:-80px;
  max-width: 100%;
}

/* grid */
.bannerrow {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    margin-bottom:0px;
}
.bannerrow:last-child {
    margin-bottom: 0;
}
[class*="col-"] {
    padding: 10px;
    width: 100%;
}

.col-1-4 {
    .img {
        filter: grayscale(50%);
    }
  }

@media all and ( min-width: 600px ) {
  .col-1-4 {
    width: 25%;
  }
}
}