.col-lg-12 {
    width: 100%;
}
.page-header {
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Bubbler One', sans-serif;
    text-shadow: 2px 2px 8px #696969;
}
.col-sm-3 {
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.descript {
    lost-column: 1/2;
    line-height: 1.4;
    margin-left: 50px;
        h3 {
            font-size: 2em;
            margin-bottom: 20px;        
            }
        p {
            margin-bottom: 20px;
            font-size: 1.2em; 
            }
        li {
            font-size: 1.2em;
            margin-left: 20px;
        }
}
.row {
    margin-top: 50px;
    margin-bottom: 20px;
}
.headkuva {
    height: 730px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 40%;
    background-image: url(/images/susa.jpg);
}