border-box-html();
global-reset();
print-styles();
normalize-css();
@lost flexbox flex;
@lost gutter 15px;
//@lost cycle none;
@lost clearing left;

@import 'component/body';
@import 'component/navbar';
@import 'component/footer';
@import 'component/home';

@import 'component/notifications';
@import 'component/fontawesome';

/* Fonts etc. */
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);