@import 'component/body';
@import 'component/navbar';
@import 'component/notifications';
@import 'component/fontawesome';

/* Fonts etc. */
@import url(https://fonts.googleapis.com/css?family=Roboto);